body {
    margin: 0;
    padding: 0;
    background-color: rgb(247, 249, 252);
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.mission-2020 {
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.mission-leftside {
    margin-top: 100px;
    width: 50%;
    padding-left: 12%;
}

#mission-border {
    font-weight: bold;
    border-left: 6px solid;
    border-image: linear-gradient(rgb(219, 223, 18), rgb(129, 63, 2));
    border-image-slice: 1;
    border-radius: 10%;
    padding-right: 5px;
}

#mission-border {
    letter-spacing: 2px;
    font-size: 60px;
    padding-left: 2px;
    font-family: 'Oxygen', sans-serif;
}

#mission-border span {
    color: rgba(202, 127, 29, 0.87);
}

.mission-leftside p {
    margin-bottom: 25px;
}

.mission_leftside_btn {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(224, 146, 0), rgb(247, 87, 59));
    color: white;
    font-weight: 900px;
}

.mission-rightside {
    width: 50%;
    padding-left: 12%;
}

.mission-rightside img {
    width: 70%;
}

#my-mission-heading {
    text-align: center;
}

#my-mission-heading span {
    color: rgb(170, 131, 2);
}

.my-mission {
    padding-top: 30px;
}

.mission {
    padding: 25px;
    width: 330px;
    border: 1px solid rgb(250, 208, 208);
    background-color: rgb(255, 217, 217);
    border-radius: 5%;
}

.vision {
    padding: 25px;
    width: 330px;
    border: 1px solid rgb(175, 215, 238);
    background-color: rgb(187, 226, 248);
    border-radius: 5%;
}

.goals {
    padding: 25px;
    width: 330px;
    border: 1px solid rgba(255, 218, 183, 0.808);
    background-color: rgba(245, 215, 187, 0.808);
    border-radius: 5%;
}

.mission-catagory {
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
}

.my-mission img {
    width: 50%;
}

.develop-mission {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 120px;
    padding-bottom: 100px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 237px 237px;
}

.develop-mission-leftside {
    width: 40%;
    margin-top: 30px;
    margin-left: 5%;
}

.develop-mission-leftside img {
    width: 100%;
}

.develop-mission-rightside {
    width: 40%;
    height: auto;
    margin-top: 50px;
    margin-left: 5%;
}

.community {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 100px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 237px 237px;
}

.community-rightside {
    width: 40%;
    margin-top: 10px;
    margin-left: 5%;
}

.community-rightside img {
    width: 100%;
}

.community-leftside {
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-left: 5%;
}

.community-leftside p {
    margin-bottom: 40px;
}

.footer-style {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    text-align: center;
}

.footer-header {
    color: rgb(255, 255, 255);
}

.footer-header span {
    color: rgb(221, 33, 174);
}