body {
    margin: 0;
    padding: 0;
    background-color: rgb(247, 249, 252);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.mission-2020 {
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.mission-leftside {
    margin-top: 100px;
    width: 50%;
    padding-left: 12%;
}

#mission-border {
    font-weight: bold;
    border-left: 6px solid;
    border-image: linear-gradient(rgb(219, 223, 18), rgb(129, 63, 2));
    border-image-slice: 1;
    border-radius: 10%;
    padding-right: 5px;
}

#mission-border {
    letter-spacing: 2px;
    font-size: 60px;
    padding-left: 2px;
    font-family: 'Oxygen', sans-serif;
}

#mission-border span {
    color: rgba(202, 127, 29, 0.87);
}

.mission-leftside p {
    margin-bottom: 25px;
}

.mission_leftside_btn {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(224, 146, 0), rgb(247, 87, 59));
    color: white;
    font-weight: 900px;
}

.mission-rightside {
    width: 50%;
    padding-left: 12%;
}

.mission-rightside img {
    width: 70%;
}

#my-mission-heading {
    text-align: center;
}

#my-mission-heading span {
    color: rgb(2, 2, 170);
}

.mission {
    width: 350px;
    border: 1px solid gray;
    border-radius: 5%;
    text-align: left;
}

.mission-catagory {
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
}

.my-mission img {
    width: 50%;
}

.footer-style {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    text-align: center;
}

.footer-header {
    color: rgb(255, 255, 255);
}

.footer-header span {
    color: rgb(221, 33, 174);
}